.app {
  text-align: center;
  margin: 0px auto;
  width: 90vw;
}

.title {
  font-family: 'Jost', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1.75em;
  text-align: left;
  color: #111111;
}

.textField {
  box-sizing: border-box;
  width: 12.5vw;
  height: 5.58711567vw;
  min-width: 50px;
  min-height: 20px;
  max-width: 263.7px;
  max-height: 44.1px;
  background: #e8eef5;
  border: 1px solid #e8eef5;
  border-radius: 30px;
  padding: 1.25em;

  font-family: 'Jost', sans-serif;
  font-style: normal;
  font-size: 0.9375em;
  color: #111111;
}

.textField::placeholder {
  color: #111111;
}

.sizeField {
  box-sizing: border-box;
  width: 10.5vw;
  height: 5.58711567vw;
  min-width: 50px;
  min-height: 20px;
  max-width: 263.7px;
  max-height: 44.1px;
  background: #e8eef5;
  border: 1px solid #e8eef5;
  border-radius: 30px;

  font-family: 'Jost', sans-serif;
  padding: 1.25em;
  font-style: normal;
  font-size: 0.9375em;
  color: #111111;
}

.sizeField::placeholder {
  color: #111111;
}

.space9px {
  padding: 9px;
}

.spaceRight {
  padding-right: 20px;
}

.button {
  box-sizing: border-box;
  width: 60.5vw;
  height: 5.58711567vw;
  min-width: 180px;
  min-height: 20px;
  max-width: 263.7px;
  max-height: 44.1px;
  background: #2645e5;
  border: 1px solid #2645e5;
  border-radius: 30px;
  cursor: pointer;

  font-family: 'Jost', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 0.9375em;
  text-align: center;
  color: #ffffff;
}

.button:hover {
  background: #192d98;
  border: 1px solid #192d98;
}

.select {
  box-sizing: border-box;
  width: 60.5vw;
  height: 5.58711567vw;
  min-width: 180px;
  min-height: 20px;
  max-width: 263.7px;
  max-height: 44.1px;
  background: #e8eef5;
  border: 1px solid #e8eef5;
  border-radius: 30px;
  cursor: pointer;
  padding-left: 1.25em;
  padding-right: 1.25em;

  font-family: 'Jost', sans-serif;
  font-style: normal;
  font-size: 0.9375em;
  color: #111111;
}

.scatter {
  text-align: center;
  margin: 0px auto;
  /* margin: 0px 30%; */
  height: 70vh;
}
